# Gmail account to use for sending OTP emails
GMAIL=your_email_here@gmail.com

# Application password for the Gmail account
# Note: This is not your personal Gmail password.
# You can generate an App Password in your Google Account settings.
GMAIL_PASSWORD=password_here