#IMPORTANT TO CHANGE: THIS IS THE ENCONDING TO YOUR TOKEN
JWT_SECRET=YOUR_JWT_SECRET_HERE
#Expiration time of your account token in hours
JWT_EXPTIME=24
#Lenght of the verification OTP
OTP_LENGTH=6
#Duration in minutes
OTP_DURATION=10
#Chars allowed to appear in your otp
OTP_CHARSET=1234567890
# Gmail account to use for sending OTP emails
GMAIL=your_email_here@gmail.com

# Application password for the Gmail account
# Note: This is not your personal Gmail password.
# You can generate an App Password in your Google Account settings.
GMAIL_PASSWORD=password_here

